<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circular">
    </div>
    <div class="col-md-9">
      <h1>{{ artista.name }}</h1>

      <hr>

      <a href="{{ artista.external_urls?.spotify }}" target="_blank" type="button" class="btn btn-outline-primary">
        Abrir Spotify
      </a>

      <button [routerLink]="['/search']" type="button" class="btn btn-outline-danger">
        Regresar
      </button>

    </div>
  </div>

  <div class="row top30">
    <div class="col-md-12">

    <table class="table table-dark">
      <thead>
        <tr>
          <th>#</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Popularidad</th>
          <th>Escuchar</th>
          <!--<div *ngFor="let song of songs">
            {{ song.name }}
          </div>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pista of pistas; let i=index">
          <td>{{ i + 1 }}</td>
          <td>
            <img [src]="pista.album.images | sinfoto" class="img-50">
          </td>
          <td>{{ pista.name }} </td>
          <td>{{ pista.popularity }} % </td>
          <td>
            <iframe [src]="pista.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </tr>
      </tbody>

    </table>
    </div>
  </div>

</div>
